<!--Table-->
<table class="striped">
  <thead>
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Population  <button class="btn btn-flat" ng-click="ordrecroissant=!ordrecroissant"> ▲▼ </button></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="city in list">
      <td>{{ city.fields.accentcity }}</td>
      <td>{{ city.fields.country | uppercase | isoCountryFromAbbreviation }}</td>
      <td>{{ city.fields.population | milions }}</td>
    </tr>
  </tbody>
</table>
</div>

<!--Pagination-->

<div class="container"> Page {{(currentPage/pageSize)+1}}
  <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-pageSize">Previous</button>
  <button class="btn btn-default" ng-disabled="currentPage >= 330000" ng-click="currentPage=currentPage+pageSize">Next</button>
</div>
